/* Main Section */

.details {
    flex: 0.1;
}

.attendance-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.shadow-button {
	font-size: 27px;
}