* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #cae8d5;
}

a {
  text-decoration: none; 
}


/* Navigation Bar */

.navbar {
  height: 9vh;
  background-color: #3b6978;
  display: flex;
  align-items: center;
}

.navbar-title {
  color: white;
  padding-left: 2%;
  font-weight: initial;
}


/* Main section */

.front-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91vh;
}


/* Main Title */

.main-title {
  padding-bottom: 10%;
}

.main-heading {
  font-size: 112px;
  font-family: 'Montserrat-Black';
  color: #204051;
  margin-bottom: 3%;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-size: 45px;
  line-height: normal;
  text-align: center;
  font-weight: lighter;
  color: #127681;
}


/* Login/Signup Buttons */

.login-signup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 5%;
}

.button {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  padding: 3%;
  margin: 3%;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color:#1b6ca8;
  border: none;
  border-radius: 11px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color:#0e9aa7
}

.button:active {
  background-color: #1b6ca8;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* Authors Section */

.authors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91vh;
}

.author-title {
  color: #1b262c;
  font-size: 32px;
  margin-bottom: 1.6%;
}

.author-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 30px;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 3%;
  background-color: #fff;
  margin-left: 9%;
  margin-right: 9%;
}

.card {
  max-width: 270px;
  text-align: center;
  background-color: #fff;
  padding: 1%;
}

img {
  border-radius: 50%;
}

.author-name {
  color: #061430;
  padding: 3%;
  font-weight: normal;
}

.fa {
  color: #061430;
}


/* Open source message */

.open-source {
  text-align: center;
}

h4 {
  font-size: 28px;
  font-weight: lighter;
  color: #1b262c;
}


/* Media Queries */

@media screen and (max-width:650px) {
  .main-heading {
    font-size: 64px;
  }

  h3 {
    font-size: 25px;
    margin-left: 11%;
    margin-right: 11%;
  }

  h4 {
    font-size: 21px;
    margin-top: 4%;
    margin-left: 11%;
    margin-right: 11%;
  }

  .button {
    margin-top: 11%;
  }

  .author-title {
      margin-top: 5%;
      margin-bottom: 1%;
  }

  .copyright {
      margin-top: 5%;
      margin-bottom: 2%;
  }
}


@media screen and (max-width:995px) {
  .card {
    padding: 2%;
    margin: 4%;
  }
}