* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cae8d5;
}


/* Navigation Bar */

.navbar {
    height: 9vh;
    background-color: #3b6978;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    color: white;
    padding-left: 2%;
    font-weight: initial;
    flex: 1;
}

.navbar-elements {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
}

.navbar-buttons {
    padding: 3.4%;
    background-color:#0e9aa7;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
}


/* Main Section */

.main-section {
    display: flex;
    flex-direction: column;
    height: 82vh;
}


/* Dashboard Heading */

.dashboard-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #204051;
}

.card {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 4%;
    border-radius: 8px;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-details {
    font-size: 25px;
    font-weight: bold;
    color: #323232;
    flex: 0.1;
}

.attendance-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}

.button {
    padding: 4% 9%;
    font-size: 27px;
    cursor: pointer;
    color: #fff;
    background-color:#1b6ca8;
    border: none;
    border-radius: 11px;
    box-shadow: 0 9px #999;
  }
  
.button:hover {
    background-color:#0e9aa7
}
  
.button:active {
    background-color: #1b6ca8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}