* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cae8d5;
}


/* Navigation Bar */

.navbar {
    height: 9vh;
    background-color: #3b6978;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    color: white;
    padding-left: 5%;
    font-weight: initial;
}

.navbar-elements {
    display: flex;
    flex-direction: row;
    width: 9%;
    justify-content: space-between;
    margin-right: 5%;
}

.navbar-buttons {
    padding: 4%;
    background-color:#0e9aa7;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    text-align: center;
}


/* Main Section */

.main-section {
    height: 81vh;
}


/* Dashboard Heading */

.dashboard-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    padding: 9% 3%;
    color: #204051;
}

.card {
    background-color: white;
    width: 90%;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 2%;
    border-radius: 8px;
}

.attendance-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 18%;
    padding-right: 18%;
    padding-bottom: 5%;
}

.student-details {
    font-size: 33px;
    font-weight: bold;
    padding-top: 1.6%;
    padding-bottom: 2.6%;
    color: #323232;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4% 9%;
    margin: 3%;
    font-size: 27px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#1b6ca8;
    border: none;
    border-radius: 11px;
    box-shadow: 0 9px #999;
  }
  
.button:hover {
    background-color:#0e9aa7
}
  
.button:active {
    background-color: #1b6ca8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* Media Queries */

@media screen and (max-width:650px) {
    .button {
        margin-top: 16%;
    }
}