* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none; 
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cae8d5;
}


/* Navigation Bar */

.navbar {
    height: 9vh;
    background-color: #3b6978;
    display: flex;
    align-items: center;
}

.navbar-title {
    color: white;
    padding-left: 2%;
    font-weight: initial;
}


/* Main section */

.main-section {
    height: 82vh;
}

.dashboard-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20vh;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #204051;
}

.card {
    height: 62vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 4%;
    border-radius: 8px;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 2%;
    color: #323232;
}

.table-overflow {
    overflow-x: auto;
    overflow-y: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    font-size: 21px;
    text-align: center;
    padding: 17px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* Media queries */

@media screen and (max-width: 900px) {
    th, td {
        padding: 8px;
    }
}