{% extends 'teacher/base.html' %}

{% block head %}
	<title>Add/Edit Lecture</title>
    
    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates/main-section.css') }}">
    <!-- Table CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates/table.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/add-edit-lecture.css') }}">
    
    <!-- Burger navbar JS -->
    <script async src="{{ url_for('static', filename='js/navbar-burger.js') }}"></script>
{% endblock %}

{% block body %}
<body>
    <nav class="navbar">
		<h2 class="navbar-title">Attendance Manager</h2>
		
        <div class="navbar-elements">
            <form action="" method="GET">
                <button class="navbar-buttons">Docs</button>
            </form>

            <form action="" method="GET">
                <button class="navbar-buttons">Log Out</button>
            </form>
		</div>
		
		<div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

    <div class="main-section">
        <div class="dashboard-heading">
            <h1>Add/Edit Lecture</h1>
        </div>

        <div class="card">    
			<h2 class="class-details">Class Details</h2>
			
			<div class="lecture-info">
				<div class="lecture-date">
					<label for="date">Date:&nbsp;</label>
					<input type="date" name="date" required>
				</div>

				<div class="lecture-time">
					<label for="time">Time:&nbsp;</label>
					<input type="time" name="date" required>
                </div>
                
                <div class="student-select-option">
					<label for="select-option">Select all:&nbsp;</label>
					<input type="checkbox" name="select-option" required>
                </div>
			</div>
			
            <div class="table-overflow">
                <table>
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th> 
                        <th>Mark Attendance</th>
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <td>ABCD</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>EFGH</td>
                        <td><input type="checkbox"></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </table>
			</div>
			
            <div class="add-edit-lecture">
                <form action="" method="GET">
                    <button class="shadow-button">Add/Edit&nbsp;Lecture</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}