{% extends 'teacher/base.html' %}

{% block head %}
	<title>Class Dashboard</title>
    
    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/main-section.css') }}">
    <!-- Table CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/table.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/custom/class-dashboard.css') }}">
    
    <!-- Burger navbar JS -->
    <script async src="{{ url_for('teacher.static', filename='js/navbar-burger.js') }}"></script>
{% endblock %}

{% block body %}
<body>
    <nav class="navbar">
        <h2 class="navbar-title">Attendance Manager</h2>

        <div class="navbar-elements">
            <form action="" method="GET">
                <button class="navbar-buttons long-navbar-buttons">Add/Edit Lecture</button>
            </form>
            
            <form action="" method="GET">
                <button class="navbar-buttons long-navbar-buttons">Delete Lecture</button>
            </form>
            
            <form action="" method="GET">
                <button class="navbar-buttons long-navbar-buttons">Calculate Defaulter</button>
            </form>

            <form action="" method="GET">
                <button class="navbar-buttons long-navbar-buttons">Division Dashboard</button>
            </form>

            <form action="" method="GET">
                <button href="" class="navbar-buttons">Docs</button>
            </form>

            <form action="" method="GET">
                <button href="" class="navbar-buttons">Log Out</button>
            </form>
        </div>

        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </nav>

    <div class="main-section">
        <div class="dashboard-heading">
            <h1>Class Dashboard</h1>
        </div>

        <div class="card">    
            <h2 class="class-details">Class Details</h2>

            <h2 class="class-details">Lectures Conducted:</h2>

            <div class="table-overflow">
                <table>
                    <tr>
                        <th>Roll No.</th>
                        <th>Name</th> 
                        <th>Lectures Attended</th>
                        <th>Percentage</th>
                        <th>19/6/2020<br>(3-4pm)</th>
                        <th>20/6/2020<br>(3-4pm)</th>
                        <th>21/6/2020<br>(8-9am)</th>
                    </tr>
                    
                    <tr>
                        <td>1</td>
                        <td>ABCD</td>
                        <td>5</td>
                        <td>50%</td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled checked></td>
                        <td><input type="checkbox" disabled></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>EFGH</td>
                        <td>6</td>
                        <td>60%</td>
                        <td><input type="checkbox" disabled checked></td>
                        <td><input type="checkbox" disabled checked></td>
                        <td><input type="checkbox" disabled></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>XYZ</td>
                        <td>7</td>
                        <td>70%</td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled checked></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>XYZ</td>
                        <td>7</td>
                        <td>70%</td>
                        <td><input type="checkbox" disabled checked></td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled checked></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>XYZ</td>
                        <td>7</td>
                        <td>70%</td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled></td>
                        <td><input type="checkbox" disabled checked></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}