{% extends 'teacher/base.html' %}

{% block head %}
	<title>Defaulter Calculation</title>
    
    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/main-section.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/custom/defaulter-calculation.css') }}">
    
    <!-- Burger navbar JS -->
    <script async src="{{ url_for('teacher.static', filename='js/navbar-burger.js') }}"></script>
{% endblock %}

{% block body %}
<body>
    <div class="navbar">
        <h2 class="navbar-title">Attendance Manager</h2>

        <div class="navbar-elements">
            <form action="" method="GET">
                <button href="" class="navbar-buttons">Docs</button>
            </form>

            <form action="" method="GET">
                <button href="" class="navbar-buttons">Log Out</button>
            </form>
        </div>

        <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
    </div>

    <div class="main-section">
        <div class="dashboard-heading">
            <h1>Defaulter Calculation</h1>
        </div>

        <div class="card">
            <div class="test">
                <h2>Class & Subject Details</h2>
                <br>
                <br>

                <h3>Defaulter calculation criteria choices:</h3>
                <h3>1.&nbsp; Enter only the attendance percentage criteria</h3>
                <h3>2. Enter only the date range</h3>
                <h3>3. Enter both, the attendance criteria % and the date range</h3>
                <br>
                <br>
            </div>
            
            <form action="" method="POST">
                <div class="attendance-criteria">
                    <label for="attendance-criteria"><h2>Attendance percentage Criteria: &nbsp; </h2></label>
                    <input type="number" min="0" max="100" autofocus>
                </div>
                <br>
                <br>

                
                <div class="date-range">
                    <h2>Date Range:</h2>
                    &nbsp;
                    &nbsp;

                    <input type="date" id="start-date" name="start-date">
                    &nbsp;
                    &nbsp;

                    <h2>to</h2>
                    &nbsp;
                    &nbsp;

                    <input type="date" id="end-date" name="end-date">
                </div>
                <br>
                <br>

				<button type="submit" class="shadow-button">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}