{% extends 'teacher/base.html' %}

{% block head %}
	<title>Forgot Password</title>

	<!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/main-section.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/custom/forgot-password.css') }}">

	<!-- Burger navbar JS -->
    <script async src="{{ url_for('static', filename='js/navbar-burger.js') }}"></script>
{% endblock %}

{% block body %}
<body>
	<nav class="navbar">
		<h2 class="navbar-title">Attendance Manager</h2>

		<div class="navbar-elements">
			<form action="/" method="GET">
                <button class="navbar-buttons">Home</button>
			</form>

			<form action="" method="GET">
				<button class="navbar-buttons">Docs</button>
			</form>
		</div>

		<div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
	</nav>
	  
	<div class="main-section">
		<div class="forgot-password-card">
			<form action="" method="POST">
				<h1>Forgot Password</h1>

				<label for="email">e-mail Address</label>
				<input id="email" type="email" name="email" required autofocus>

				<button class="shadowless-button" type="submit">Reset Password</button>
			</form>
		</div>
	</div>
{% endblock %}