{% extends 'teacher/base.html' %}

{% block head %}
	<title>Teacher Login</title>

	<!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/main-section.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('teacher.static', filename='css/custom/login.css') }}">

	<!-- Burger navbar JS -->
    <script async src="{{ url_for('teacher.static', filename='js/navbar-burger.js') }}"></script>
{% endblock %}

{% block body %}
<body>
	<div class="navbar">
		<h2 class="navbar-title">Attendance Manager</h2>

		<div class="navbar-elements">
			<form action="/" method="GET">
                <button class="navbar-buttons">Home</button>
			</form>
			
			<form action="" method="GET">
                <button class="navbar-buttons">Docs</button>
			</form>
		</div>

		<div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
	</div>
	  
	<div class="main-section">
		<div class="login-card">
			<form action="/teacher/login" method="POST">
				<h1>Teacher Login</h1>

				<label for="email" style="text-align: left;">e-mail Address</label>
				<br>
				<input id="email" type="email" name="email" required autofocus>

				<div class="password-div">
					<label for="password">Password</label>

					<a href="/forgot_password">Forgot Password?</a>
				</div>
				<input id="password" type="password" name="password" required>

				<button class="shadowless-button" type="submit">Log In</button>

				<div class="account-div">
					<label>Don't have an account?</label>
					&nbsp;
					<a href="/teacher/signup">Create One</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}