{% extends 'base.html' %}

{% block head %}
	<title>Teacher Login</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-signup.css') }}">
{% endblock %}

{% block body %}
<body class="my-login-page" style="background-color:#cae8d5;">
	<div class="container-fluid" style="background-color: #3b6978;">
		<!-- Nav Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand" style="color:white;">Attendance Manager</a>
		</nav>
	</div>		
	<div style="margin-top: 5%;" >
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Teacher Login</h4>
							<form method="POST" class="my-login-validation" novalidate="">
								<div class="form-group">
									<label for="email">e-mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									<div class="invalid-feedback">
										Email is invalid
									</div>
								</div>

								<div class="form-group">
									<label for="password">Password
										<a href="forgot.html" class="float-right" style="padding-left: 55px;">
											Forgot Password?
										</a>
									</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								    <div class="invalid-feedback">
								    	Password is required
							    	</div>
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Login
									</button>
								</div>
								<div class="mt-4 text-center">
									Don't have an account? <a href="register.html">Create One</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
{% endblock %}