.class-details {
    padding-bottom: 1%;
}

.lecture-info {
	display: flex;
	width: 100%;
	padding-bottom: 1%;
	font-size: 18px;
	font-weight: bold;
}

.lecture-date, .lecture-time {
	display: flex;
	align-items: center;
}

.lecture-date {
	padding-right: 2%;
}

input {
    height: 30px;
}

th, td {
	padding: 12px;
}

.add-edit-lecture {
    display: flex;
    justify-content: center;
    padding: 1%;
}


/* Media query */

@media screen and (max-width: 500px) {
	.lecture-info
	{
		flex-direction: column;
	}

	.lecture-date {
		padding-bottom: 2%;
	}
}

