/* Main section */

.col {
    display: flex;
}

.col-1 {
    flex: 0.5;
}

.col-2 {
    flex: 0.5;
}

.generate-pdf {
    display: flex;
    justify-content: flex-end;
    padding-top: 2%;
    padding-right: 5%;
}


/* Media queries */

@media screen and (max-width: 900px) {
    .col {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    h2 {
        font-size: 15px;
    }

    th, td {
        font-size: 15px;
    }

    .shadow-button {
        font-size: 15px;
        width: 130px;
        height: 25px;
        justify-content: center;
    }
}