html{
  height: 100%;
}

body{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

body.my-login-page {
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.navbar {
  padding:inherit;
}

.navbar-brand {
  font-family: "Montserrat-Black";
  font-size: 1.5rem;
  margin:1.5%;
}

.nav-item {
  padding: 0 20px;
}

#footer{
	position: absolute;
	bottom: 0;
}

.card-body{
	text-align: center;
}