/* Main section */

input[type=date] {
    height: 30px;
    width: 20%;
}

input[type=number] {
    height: 30px;
    width: 10%;
}

.attendance-criteria {
    display: flex;
}

.date-range {
    display: flex;
}

.shadow-button
{
	padding: 1%;
	margin: 1%;
	font-family: inherit;
	font-weight: bold;
}


/* Media query */

@media screen and (max-width: 640px) {
    .card {
        overflow-x: auto;
        overflow-y: auto;
    }

    .attendance-criteria {
        flex-direction: column;
        align-items: center;
    }

    .date-range {
        flex-direction: column;
        align-items: center;
    }

    input[type=date] {
        width: 50%;
    }
    
    input[type=number] {
        width: 50%;
        margin-top: 5%;
    }
}