<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
        
        <!-- Only for socisl media icons -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block head %}{% endblock %}
    </head>

    {% block body %}{% endblock %}

        <footer>
            <div class="copyright">
            <p class="copyright-msg">© Copyright 2020 <a href="https://github.com/HarshKapadia2" target="_blank">Harsh Kapadia</a> and <a href="https://github.com/SaikiranJakkan" target="_blank">Saikiran Jakkan</a></p>
            </div>
        </footer>
    </body>
</html>