<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://www.creative-tim.com/product/material-kit-pro
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  {% block head %}{% endblock %}
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/material-kit.css') }}" />

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script defer src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
  <script defer src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>

  <script defer src="{{ url_for('static', filename='js/firebaseConfig.js') }}"></script>
</head>

{% block body %}{% endblock %}
  <footer class="footer footer-default">
    <div class="container">
      <div class="copyright">&copy; 2021</div>
    </div>
  </footer>

  <!--   Core JS Files   -->
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/core/jquery.min.js') }}"></script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/core/popper.min.js') }}"></script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/core/bootstrap-material-design.min.js') }}"></script>
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/plugins/bootstrap-datetimepicker.js') }}"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script defer type="text/javascript" src="{{ url_for('static', filename='js/material-kit.js') }}"></script>


</body>

</html>