<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://www.creative-tim.com/product/material-kit-pro
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'base.html' %}

{% block head %}
  <title>Attendance Manager</title>
{% endblock %}

{% block body %}
<body class="landing-page sidebar-collapse">
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../static/img/desk_chair.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Attendance Management.</h1>
          <h4>A solution for both teachers and students!</h4>
          <br>
          {% with messages = get_flashed_messages() %}
            {% if messages: %}
              {% for message in messages: %}
                <h4>{{ message }}</h4>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <form action="/student_login" method="GET">
            <button type="submit" class="btn btn-danger btn-raised btn-lg">
              <i class="fa fa-user-circle-o"></i> 
               Student log in/sign up
            </button>
          </form>
          <form action="/teacher_login" method="GET">
            <button type="submit" class="btn btn-danger btn-raised btn-lg">
              <i class="fa fa-user-circle-o"></i> 
               Teacher log in/sign up
            </button>
          </form>
          <h4>This is an open source project! View the code or contribute <a href="https://github.com/HarshKapadia2/attendance_management" style="color: yellow;">here</a>!</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-6">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../static/img/harsh_kapadia_img.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Harsh Kapadia<br>
                    <!-- <small class="card-description text-muted">Model</small> -->
                  </h4>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.linkedin.com/in/harsh-kapadia-426999175/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/harshgkapadia" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/HarshKapadia2" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../static/img/saikiran_jakkan_img.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Saikiran Jakkan<br>
                    <!-- <small class="card-description text-muted">Model</small> -->
                  </h4>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.linkedin.com/in/saikiran-jakkan-939b2a190/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/saiki_93" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/SaikiranJakkan" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}