{% extends 'base.html' %}

{% block head %}
  <title>Attendance Manager</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home-page.css') }}">
{% endblock %}

{% block body %}
  <body>
    <div class="container-fluid">
        <!-- Nav Bar -->
  
        <nav class="navbar navbar-expand-lg navbar-dark">
  
          <a class="navbar-brand" style="color:white;">Attendance Manager</a>
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="">About this page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#authors">Authors</a>
              </li>
            </ul>
  
          </div>
        </nav>
   </div>    
    
  <div>
      <h1 style="color: #204051;">Attendance Manager</h1>
      <h3>A solution for both teachers and students!</h3>
  </div>

  <section id="login-signup">
    <div class="row">
      <form action="/teacher/login" method="GET">
        <div class="col-lg-4" style="text-align: center;">
          <button type="submit" class="btn btn-primary btn-lg user-button"><i class="fas fa-chalkboard-teacher"></i> &nbsp; TEACHER LOGIN/SIGNUP</button>
        </div>
      </form>

      <form action="" method="GET">
        <div class="col-lg-4" style="text-align: center;">
          <button type="submit" class="btn btn-primary btn-lg user-button"><i class="fas fa-user-graduate"></i> &nbsp; STUDENT LOGIN/SIGNUP</button>
        </div>
      </form>
      
      <div class="col-lg-4" style="text-align: center;">
        <button type="submit" class="btn btn-primary btn-lg user-button"><i class="fas fa-user-cog"></i> &nbsp; ADMIN LOGIN/SIGNUP</button>
      </div>

    </div>
    <h4 class="open-source"><br><br>This is an open source project! View the code or contribute <a href="https://github.com/HarshKapadia2/attendance_management" style="color: orange;">here</a>!</h4>
  </section>
  <br><br><br><br><br><br>

  <section id="authors">
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <h2 class="title-author">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-6">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto author-img">
                    <img src="../static/img/harsh_kapadia_img.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Harsh Kapadia<br>
                    <!-- <small class="card-description text-muted">Model</small> -->
                  </h4>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.linkedin.com/in/harsh-kapadia-426999175/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/harshgkapadia" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/HarshKapadia2" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto author-img">
                    <img src="../static/img/saikiran_jakkan_img.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Saikiran Jakkan<br>
                    <!-- <small class="card-description text-muted">Model</small> -->
                  </h4>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.linkedin.com/in/saikiran-jakkan-939b2a190/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                    <a href="https://twitter.com/saiki_93" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/SaikiranJakkan" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
{% endblock %}