<!--
 =========================================================
 Material Kit PRO - v2.2.0
 =========================================================

 Product Page: https://www.creative-tim.com/product/material-kit-pro
 Copyright 2019 Creative Tim (https://www.creative-tim.com)

 Coded by Creative Tim

 =========================================================

 The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'base.html' %}

{% block head %}
  <title>AM Student Sign Up</title>
{% endblock %}
  
{% block body %}
<body class="login-page sidebar-collapse">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <div class="navbar-brand">
          Attendance Management
        </div>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter" style="background-image: url('../static/img/desk_chair.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <form class="form" method="POST" action="/student_signup">
            <div class="card card-login">
              <h2 class="card-title text-center">Student Sign Up</h2>
              <!-- <div class="social-line">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div> -->
              <div class="card-body ">
                {% with messages = get_flashed_messages() %}
                  {% if messages: %}
                    {% for message in messages: %}
                      <h4>{{ message }}</h4>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Full Name
                      </span>
                    </div>
                    <input name="name" type="text" class="form-control" placeholder="Please enter your full name..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Roll No.
                      </span>
                    </div>
                    <input name="roll_no" type="number" class="form-control" placeholder="Roll No..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group" style="display: flex; flex-direction: column;">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Division (Uppercase Letters & No Spaces)
                      </span>
                    </div>
                    <div>
                      <input style="width: 90%; margin-left: 15px;" name="division" type="text" class="form-control" placeholder="Please enter the division..." required>
                    </div>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Year (FE/SE/TE/BE)
                      </span>
                    </div>
                    <input name="year" type="text" class="form-control" placeholder="Year..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Semester (Roman Numerals)
                      </span>
                    </div>
                    <input name="sem" type="text" class="form-control" placeholder="Semester..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        e-mail ID
                      </span>
                    </div>
                    <input name="email" type="email" class="form-control" placeholder="Please enter your e-mail ID..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Enter Password
                      </span>
                    </div>
                    <input name="password" type="password" class="form-control" placeholder="Password..." required>
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        Re-type Password
                      </span>
                    </div>
                    <input name="password2" type="password" class="form-control" placeholder="Re-type Password..." required>
                  </div>
                </span>
              </div>
              <div class="card-footer justify-content-center">
                <button type="submit" class="btn btn-danger btn-raised btn-lg">Register</button>
              </div>
            </div>
          </form>
          <form action="/" method="GET">
            <button type="submit" class="btn btn-danger btn-raised btn-lg">Back</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}