.navbar {
    height: 9vh;
    background-color: #3b6978;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    color: white;
    padding-left: 2%;
    font-weight: initial;
    flex: 1;
}

.navbar-elements {
    display: flex;
    flex: 0.2;
    align-items: center;
    justify-content: space-around;
    margin-right: 2%;
}

.navbar-buttons {
    padding: 3.4%;
    background-color:#0e9aa7;
    font-weight: bold;
    border-radius: 2px;
    border: 1px solid white;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.long-navbar-buttons {
    width: 140px;
}

.navbar-buttons:hover {
    background-color: white;
    color: #204051;
}

.burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    body {
        overflow: hidden;
    }

    .burger {
        display: block;
        padding-right: 2%;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .line-1, .line-2, .line-3 {
        background-color: white;
        width: 25px;
        height: 3px;
        margin: 5px;
    }
    
    .navbar-elements {
        position: absolute;
        right: 0;
        top: 9vh;
        height: 91vh;
        width: 30%;
        margin: 0;
        z-index: 1;
        background-color: #3b6978;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}

@media screen and (max-width: 600px) {
    .navbar-buttons {
        width: 50px;
        height: 50px;
    }
    .long-navbar-buttons {
        width: 80px;
    }
}

.burger-active
{
    transform: translateX(0%);
}

.toggle .line-1
{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2
{
    opacity: 0;
}

.toggle .line-3
{
    transform: rotate(45deg) translate(-5px, -6px);
}