{% extends 'base.html' %}

{% block head %}
	<title>Student Login</title>

	<!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/main-section.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/footer.css') }}">
    <!-- Custom CSS for page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/custom/login-page.css') }}">
{% endblock %}

{% block body %}
<body>
	<div class="navbar">
		<h2 class="navbar-title">Attendance Manager</h2>
	</div>
	  
	<div class="main-section">
		<div class="login-card">
			<form action="/student/login" method="POST">
				<h1>Student Login</h1>

				<label for="email" style="text-align: left;">e-mail Address</label>
				<br>
				<input id="email" type="email" name="email" required autofocus>

				<div class="password-div">
					<label for="password">Password</label>

					<a href="/forgot_password">Forgot Password?</a>
				</div>
				<input id="password" type="password" name="password" required>

				<button class="button" type="submit">Log In</button>

				<div class="account-div">
					<label>Don't have an account?</label>
					&nbsp;
					<a href="/student/signup">Create One</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}