{% extends 'base.html' %}

{% block head %}
	<title>Student's Lectures</title>

    <!-- Base CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/base.css') }}">
    <!-- Navbar CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/navbar.css') }}">
    <!-- Main section CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/main-section.css') }}">
    <!-- Table CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/table.css') }}">
    <!-- Footer CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('student.static', filename='css/templates/footer.css') }}">
{% endblock %}

{% block body %}
<body>
    <div class="navbar">
		<h2 class="navbar-title">Attendance Manager</h2>
	</div>

    <div class="main-section">
        <div class="dashboard-heading">
            <h1>Student's Lectures</h1>
        </div>

        <div class="card">
            <h2>Student Details</h2>

            <div class="table-overflow">
                <table>
                    <tr>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Lecture Conducted</th>
                        <th>Lecture Attended</th>
                        <th>Percentage</th>
                    </tr>
                    
                    <tr>
                        <td>Automata Theory</td>
                        <td>Kumkum Saxena</td>
                        <td>26</td>
                        <td>19</td>
                        <td>73.07%</td>
                    </tr>

                    <tr>
                        <td>Operating System</td>
                        <td>Shachi Natu</td>
                        <td>30</td>
                        <td>26</td>
                        <td>86.67%</td>
                    </tr>

                    <tr>
                        <td>Computer Networks</td>
                        <td>Vijal Jain</td>
                        <td>30</td>
                        <td>26</td>
                        <td>86.67%</td>
                    </tr>

                    <tr>
                        <td>Computer Networks</td>
                        <td>Vijal Jain</td>
                        <td>30</td>
                        <td>26</td>
                        <td>86.67%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}