<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    
    {% block head %}{% endblock %}

    <!-- Firebase -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script defer src="https://www.gstatic.com/firebasejs/7.12.0/firebase-app.js"></script>
    <!-- Add SDKs for Firebase products to be used https://firebase.google.com/docs/web/setup#available-libraries -->
    <script defer src="https://www.gstatic.com/firebasejs/7.12.0/firebase-analytics.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/7.14.2/firebase-performance.js"></script>
    <!-- The web app's Firebase configuration -->
    <script defer src="{{ url_for('admin.static', filename='js/firebaseConfig.js') }}"></script>
  </head>
    
  {% block body %}{% endblock %}
    <footer>
      <div class="copyright">
        <p class="copyright-msg">© Copyright 2020 <a href="https://github.com/HarshKapadia2" target="_blank">Harsh Kapadia</a> and <a href="https://github.com/SaikiranJakkan" target="_blank">Saikiran Jakkan</a></p>
      </div>
    </footer> 			
  </body>
</html>